<div data-controller="product" class="card">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <span class="price">{{ product.price }}</span>
    <button class="btn-delete" name="delete" data-url="{{ path('product_delete', {id: product.id, token: csrf_token('delete-product')}) }}">delete</button>
</div>