{% extends 'base.html.twig' %}
{% block body %}
    <h2>Products</h2>
    <section class="products">
        {% for product in products %}
            {{  include('product/_card.html.twig', {product: product}) }}
        {% endfor %}
    </section>
{% endblock %}