body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.products {
    margin: 0.1em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.card {
    box-sizing: border-box;
    background-color: #eee;
    margin: 0.1em;
    padding: 0.5em;
}

.card span.price {
    display: block;
}


